body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    background-color: #fcc400;
    background-repeat: no-repeat;
    background-position: 50% 0;
}



/* используемые классы */
/* кнопка */
.button__contact{
    padding: 10px 20px;
    background-color: #d60505;
    border-radius: 10px;
    width: 260px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 3px 3px 3px #000;
    transition: .3s ease-in;
    cursor: pointer;
}
.button__contact:hover{
    background-color: #952b0d;
    box-shadow: 0px 0px 2px #000;
    transform: translate(3px, 3px);
}
.button__contact a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s ease-in;
}
/* кнопка скачать*/
._download{
    padding: 10px;
    background-color: #35ac6f;
    border-radius: 10px;
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px #000;
    transition: .3s ease-in;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
._download:hover{
    background-color: #222f8f;
    box-shadow: 0px 0px 2px #000;
    transform: translate(3px, 3px);
}

/* *********************************** */


.wrapper{
    margin: 0 auto;
    padding: 0 8px;
    width: 1150px;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 140px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #000;
}
.header__logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.header__text{
    width: 600px;
}
.header__text h2{
    color: #bb0606;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.header__social{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__downloadBtn__button img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
/* ************************************ */

/* primary************************* */
.primary{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primari__title{
    width: 600px;
}
.primari__title_btn{
    width: 360px;
    height: 100px;
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}
.primari__title__list li{
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: .2s ease-in-out;
}
.primari__title__list li:hover{
    transform: translate(3px, 0);
}
.primari__title__list li:not(:last-child){
    margin-bottom: 10px;
}
.primari__title__list li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}
.primari__title__list li a img{
    width: 20px;
    height: 20px;
}
.primari__button__help{
    background-color: #d60505;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    transition: .2s ease-in-out;
    animation-name: buttonHelp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.primari__button__help a{
    color: #fff;
    font-size: 35px;
    text-align: center;
    transition: .2s ease-in-out;
}
.primari__button__help a img{
    width: 100xp;
    height: 70px;
    border-radius: 10px;
}
@keyframes buttonHelp{
    from{
        background-color: #d60505;
        scale: 0.8;
    }
    to{
        background-color: #bb0606;
        scale: 1;
    }
}
.primary__btn{
    color: #fff;
    font-size: 25px;
}

/* downloadBtn******************** */

.downloadBtn{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadBtn__btn{
    color: #fff;
    font-size: 16px;
}
.downloadBtn__btn img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.downloadBtn__button{
    width: 600px;
}
.downloadBtn__button p{
    font-size: 20px;
    margin-bottom: 40px;
}
form{
    padding: 15px 20px;
    width: 370px;
    background-color: #fff;
    opacity: .8;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #000;
}
form h2{
    font-size: 30px;
    margin-bottom: 30px;
}
form input{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    height: 50px;
    font-size: 20px;
    outline: none;
}
form textarea{
    margin-top: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 100%;
    font-size: 20px;
    resize: none;
}
.downloadBtn__submit{
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: #bb0606 !important;
    color: #fff;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.downloadBtn__submit:hover{
    background: #222f8f !important;
}


/* ************************* */
.info{
    margin-top: 90px;
}
.info h2{
    text-align: center;
    font-size: 40px;
    width: 70%;
    margin: 0 auto;
    background-color: #222f8f;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px #000;
}
.info p{
    line-height: 125%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #000;
    backdrop-filter: brightness(80%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px #000;
}
.services{
    margin: 90px 0 0 0;
}
.services h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.services__works h3{
    font-size: 20px;
}
.services__works h3:not(:last-child){
    margin-bottom: 20px;
}

.footer{
    margin-top: 90px;
    background-color: #252234;
    height: 300px;
    border-radius: 100px 100px 0 0;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 0;
}
.footer__logo{
    border-radius: 15px;
}
.footer__logo img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__contact h3{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.footer__contact h3 a{
    color: #000;
}
.footer__contact h3:not(:last-child){
    margin-bottom: 10px;
}
.footer__bottom{
    margin: 20px 0 0 auto;
    width: 300px;
}

@media (max-width:1150px) {
    .wrapper{
        width: 100%;
    }
}
@media (max-width:935px) {
    .primary{
        flex-direction: column-reverse;
    }
    .info p{
        width: 600px;
    }
    .downloadBtn{
        flex-direction: column-reverse;
    }
    .downloadBtn__button{
        margin-bottom: 20px;
        text-align: center;
    }
    .downloadBtn__btn{
        margin: 0 auto;
    }
    form{
        margin-bottom: 40px;
    }
}
@media (max-width:767px) {
    header{
        flex-direction: column;
    }
    .header__text{
        margin-top: 20px;
        text-align: center;
    }
    .footer__top{
        flex-direction: column;
        gap: 30px;
    }
    .footer{
        height: 100%;
    }
    .info h2{
        width: 100%;
    }
}
@media (max-width:610px) {
    .header__text{
        width: 100%;
    }
    .primari__title{
        width: 100%;
    }
    .info p{
        width: 100%;
    }
    .downloadBtn__button{
        width: 100%;
    }
}
@media (max-width:380px) {
    .primari__title_btn{
        width: 100%;
    }
}