body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    background-color: #fcc400;
}

/* используемые классы */
/* кнопка */
.button__contact{
    padding: 10px 20px;
    background-color: #d60505;
    border-radius: 10px;
    width: 260px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 3px 3px 3px #000;
    transition: .3s ease-in;
}
.button__contact:hover{
    /* background-color: #bb0606; */
    background-color: #952b0d;
    box-shadow: 0px 0px 2px #000;
    transform: translate(3px, 3px);
}
.button__contact:hover a{

}
.button__contact a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s ease-in;
}
/* *********************************** */


.wrapper{
    margin: 0 auto;
    padding: 0 8px;
    width: 1150px;
    background-image: url(../img/bg/bg.svg);
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #000;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 140px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #000;
}
.header__logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav ul li a{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    transition: .3s ease-in-out;
}
nav ul li a:hover{
    opacity: 0.5;
}
.header__button{
    margin: 0 0;
}
/* header button{
    padding: 20px 40px;
    background-color: #d60505;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
header button:hover{
    background-color: #c00606;
}
header button:hover a{
    color: #000;
}
header button a{
    font-size: 25px;
    color: #fff;
    transition: .3s ease-in-out;
} */
.primary{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primari__title{
    width: 50%;
    text-align: center;
    /* backdrop-filter: blur(5px); */
}
.primari__title h2{
    font-size: 52px;
    font-weight: 700;
    color: #bb0606;
}
.primari__title p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
}
.primari__button{
    background-color: #d60505;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    transition: .2s ease-in-out;
    animation-name: buttonHelp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.primari__button a{
    color: #fff;
    font-size: 35px;
    text-align: center;
    transition: .2s ease-in-out;
}
@keyframes buttonHelp{
    from{
        background-color: #d60505;
        scale: 0.8;
    }
    to{
        background-color: #bb0606;
        scale: 1;
    }
}
.info{
    margin-top: 90px;
}
.info h2{
    text-align: center;
    font-size: 40px;
    width: 70%;
    margin: 0 auto;
    background-color: #222f8f;
    color: #fff;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px #000;
}
.info p{
    line-height: 125%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #000;
    backdrop-filter: brightness(80%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px #000;
}



.footer{
    margin-top: 90px;
    background-color: #252234;
    height: 300px;
    border-radius: 100px 100px 0 0;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 0;
}
.footer__logo{
    border-radius: 15px;
}
.footer__logo img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__contact h3{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.footer__contact h3:not(:last-child){
    margin-bottom: 10px;
}
.footer__bottom{
    margin: 20px 0 0 auto;
    width: 300px;
}